<a href="https://colab.research.google.com/github/dlscks/pythondemo/blob/main/python_27_pivot%EC%99%80__pivot_table_%EB%8B%A4%EC%A4%91%EA%B3%B5%EC%84%A0%EC%84%B1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'sudo apt autoremove' to remove it.
The following NEW packages will be installed:
  fonts-nanum
0 upgraded, 1 newly installed, 0 to remove and 20 not upgraded.
Need to get 9,604 kB of archives.
After this operation, 29.5 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 fonts-nanum all 20170925-1 [9,604 kB]
Fetched 9,604 kB in 1s (6,978 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package fonts-nanum.
(Reading database ... 124016 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20170925-1_all.deb ...
Unpacking fonts-nanum (20170925-1) ...
Setting up fonts-nanum (20170925-1) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 10 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

In [2]:
from google.colab import drive
drive.mount('/content/drive')

%cd /content/drive/MyDrive/python_demo

Mounted at /content/drive
/content/drive/MyDrive/python_demo

In [6]:
import numpy as np
import pandas as pd
import matplotlib as mp
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
plt.rc('font', family='NanumBarunGothic')

In [8]:
kmovies = pd.DataFrame({'MovieID':['1193','1194','1195'],
                        'Title':['디바','무림의 고수','정직한 후보'],
                        'Genres':['드라마','액션','코미디']})
 
kusers= pd.DataFrame({'UserID':[1,2,3,4,5],
                      'Gender':['F','M','M','F','M'],
                      'Age':[13,56,25,33,43]})
 
kratings= pd.DataFrame({'UserID':[1,1,1,2,2,2,3,3,3,4,4,4],
                        'MovieID':['1193','1194','1195','1193','1194','1195','1193','1194','1195','1193','1194','1195'],
                        'Rating':[2,5,None,3,1,5,None,2,5,5,None,3]})

In [9]:
print(type(kmovies))

<class 'pandas.core.frame.DataFrame'>

In [10]:
kmovies

  MovieID   Title Genres
0    1193      디바    드라마
1    1194  무림의 고수     액션
2    1195  정직한 후보    코미디

In [11]:
kusers

   UserID Gender  Age
0       1      F   13
1       2      M   56
2       3      M   25
3       4      F   33
4       5      M   43

In [12]:
kratings

    UserID MovieID  Rating
0        1    1193     2.0
1        1    1194     5.0
2        1    1195     NaN
3        2    1193     3.0
4        2    1194     1.0
5        2    1195     5.0
6        3    1193     NaN
7        3    1194     2.0
8        3    1195     5.0
9        4    1193     5.0
10       4    1194     NaN
11       4    1195     3.0

In [14]:
# .merge 테이블을 하나로 합쳐줌 
kdata = kratings.merge(kusers).merge(kmovies)
kdata

    UserID MovieID  Rating Gender  Age   Title Genres
0        1    1193     2.0      F   13      디바    드라마
1        2    1193     3.0      M   56      디바    드라마
2        3    1193     NaN      M   25      디바    드라마
3        4    1193     5.0      F   33      디바    드라마
4        1    1194     5.0      F   13  무림의 고수     액션
5        2    1194     1.0      M   56  무림의 고수     액션
6        3    1194     2.0      M   25  무림의 고수     액션
7        4    1194     NaN      F   33  무림의 고수     액션
8        1    1195     NaN      F   13  정직한 후보    코미디
9        2    1195     5.0      M   56  정직한 후보    코미디
10       3    1195     5.0      M   25  정직한 후보    코미디
11       4    1195     3.0      F   33  정직한 후보    코미디

In [17]:
krecom_data = kdata[['UserID', 'MovieID', 'Rating']].copy()
krecom_data

    UserID MovieID  Rating
0        1    1193     2.0
1        2    1193     3.0
2        3    1193     NaN
3        4    1193     5.0
4        1    1194     5.0
5        2    1194     1.0
6        3    1194     2.0
7        4    1194     NaN
8        1    1195     NaN
9        2    1195     5.0
10       3    1195     5.0
11       4    1195     3.0

### pivot
- 각 컬럼의 값을 교차테이블 구성요소로 전달, 교차테이블 완성
- index, columns, values 컬럼을 각각 전달
- 요약기능 없음
- dataframe, pivot(index, columns, values)

In [19]:
krecom_pivot = krecom_data.pivot(index = 'UserID', columns="MovieID", values='Rating')
krecom_pivot

MovieID  1193  1194  1195
UserID
1         2.0   5.0   NaN
2         3.0   1.0   5.0
3         NaN   2.0   5.0
4         5.0   NaN   3.0

In [23]:
# inplace=True 는 실제 데이터에 변경사항이 적용된다.
krecom_pivot.fillna(0,inplace=True)

In [24]:
krecom_pivot

MovieID  1193  1194  1195
UserID
1         2.0   5.0   0.0
2         3.0   1.0   5.0
3         0.0   2.0   5.0
4         5.0   0.0   3.0